doctype html 
html 
    head 
        title form data 
    body 
        form(action='/', method='POST')
            div 
                label(for="name") Firstname:
                input(name='name' value='enter your name')
            br
            div 
                label(for="age") Age: 
                input(name='age' value='eg:18')
            br
            button(type='submit') submit